.logo-footer {
    width: 100px;
}

.footer {
    background: #0F168A ;
    background-image: url(../../assets/images/hero_bg_2.png);
    background-size: contain;
}

.copyright {
    font-size: 12px;
}