.button-form  {
    background-color: #0F168A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 6px;
}

.button-form:hover {
    color: #fff;
    background-color: #126b94;
}